<div class="container container-flex">
    <main role="main">
        
        <article class="article-featured">
            <h2 class="article-title">{{item.featuredArticle.title}}</h2>
            <img src={{item.featuredArticle.imgLink}} alt="simple white desk on a white wall with a plant on the far right side" class="article-image">
            <p class="article-info">{{item.featuredArticle.dateOfPublish+" | "+item.featuredArticle.commentCount+" comments"}}</p>
            <p class="article-body">{{item.featuredArticle.introText}}</p>
            <a href="#" class="article-read-more">CONTINUE READING</a>
        </article>
        
        <article class="article-recent" *ngFor="let dat of item.recent">
            <div class="article-recent-main">
                <h2 class="article-title">{{dat.title}} </h2>
                <p class="article-body">{{dat.introText}}</p>
                <a href="#" class="article-read-more">CONTINUE READING</a>
            </div>
            <div class="article-recent-secondary">
                <img src={{dat.imgLink}} alt={{dat.imagedesc}} class="article-image">
                <p class="article-info">{{dat.dateOfPublish+" | "+dat.commentCount+" comments"}}</p>
            </div>
        </article>
    </main>
    
    <aside class="sidebar">
        
        <div class="sidebar-widget">
            <h2 class="widget-title">{{item.aboutMe.aboutMeTitle}}</h2>
            <img src={{item.aboutMe.image}} alt="john doe" class="widget-image">
            <p class="widget-body">{{item.aboutMe.description}}</p>
        </div>
        
        <div class="sidebar-widget">
            <h2 class="widget-title">{{item.recentPost.title}}</h2>
            <div class="widget-recent-post" *ngFor="let dat of item.recentPost.posts">
                <img src={{dat.imgLink}} alt={{dat.title}} class="widget-image">
                <h3 class="widget-recent-post-title">{{dat.title}}</h3>
            </div>
        </div>
        
    </aside>
    
</div>