<header>
  <div class='container container-flex'>
    <div class='site-title'>
      <h1 style="color: #ffffff;">{{data.title}}</h1>
      <p  style="color: #ffffff;" class='subtitle'>{{data.subtitle}}</p>
    </div>
    <nav>
      <ul>
        <!-- <li> <a href='#' class='current-page'>Home</a> </li>
        <li> <a href='#'>About Me</a> </li> -->
        <li *ngFor="let dat of data.navElement" style="color: #ffffff;"> <a href={{dat.href}}  style="color: #ffffff;">{{dat.name}}</a> </li>
      </ul>
    </nav>
  </div>
</header> 
<!-- header ends -->

<!-- container starts -->
<router-outlet></router-outlet>
<!-- container ends -->

<!-- footer starts -->
<footer>
  <p><strong>{{data.title}}</strong></p>
  <p>Copyright 2021, <a href='meetrishabh.github.io' target='_blank'>Rishabh</a></p>
</footer>

